# --- RStudio e infraestructura de R ---
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.Rproj.user/
# --- Quarto y Renderizado ---
# Esta carpeta contiene los archivos temporales del renderizado. 
# Es mejor que MyBinder la genere de cero.
/.quarto/
/_site/
/site_libs/
*_files/
*_cache/

.quarto/
_site/
/quarto/


# --- Extensiones de Quarto ---
# Si prefieres instalarlas vía postBuild, puedes ignorar la carpeta local
# _extensions/


# --- mios ---
_lee.txt
.positai
